# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
build/
dist/

# OS files
.DS_Store
Thumbs.db

# Local env variables
.env

# Database and logs
instance/*.db
security.log

# Editor directories and files
.vscode/
.idea/

# Python packaging
*.egg-info/

env/
venv/
instance/
.venv/
